<% include ../partials/header %>

<div class="row">
  <div class="col-md-12">
    <h1 class="h3 mb-3 font-weight-normal text-center">Edit <%= foundCampground.name %></h1>
    <form class="form-signin" action="/campgrounds/<%= foundCampground._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
      
      <label for="inputCampname" class="sr-only">Name</label>
      <input id="inputCampname" class="form-control mb-2" type="text" name="campground[name]" value="<%= foundCampground.name %>" autofocus>
      
      <label for="price" class="sr-only">Price</label>
      <input id="price" class="form-control mb-2" type="number" name="campground[price]" value="<%= foundCampground.price %>" min="0.01" step="0.01">
      
      <label for="desc" class="sr-only">Description</label>
      <input id="desc" class="form-control mb-2" type="text" name="campground[description]" value="<%= foundCampground.description %>">
      
      <label for="image">Image Link (keep or change URL)</label>
      <% const imageObj = JSON.stringify(foundCampground.image) %>
      <% const imageStr = imageObj %>
      <% const imageURL = imageStr.includes(',') ? '' : foundCampground.image %>
      <input id="image" class="form-control mb-2" type="text" name="campground[image]" value="<%= imageURL %>">

      <p class="text-center">Or chose one or more of your own images.</p>

      <label for="img">Image file(s)</label>
      <input id="img" class="form-control mb-2" type="file" name="campground[image]" accept="image/*" multiple="">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
    <div class="form-signin">
      <a href="/campgrounds/<%= foundCampground._id %>">Go Back</a>
    </div>
  </div>
</div>

<% include ../partials/footer %>
