<% include ../partials/header %>

<div class="row">
  <div class="col-md-3">
    <div class="list-group">
      <button type="button" class="btn btn-sm btn-info mb-1 theme-color" data-toggle="popover" title="Location" data-content="Lorem ipsum dolor sit amet, nostro recusabo incorrupte an sed. In nam autem incorrupte">Location</button>
      <button type="button" class="btn btn-sm btn-info mb-1 theme-color" data-toggle="popover" title="Directions" data-content="Lorem ipsum dolor sit amet, nostro recusabo incorrupte an sed. In nam autem incorrupte">Directions</button>
      <button type="button" class="btn btn-sm btn-info theme-color" data-toggle="popover" title="Weather" data-content="Lorem ipsum dolor sit amet, nostro recusabo incorrupte an sed. In nam autem incorrupte">Weather</button>
    </div>
  </div>
  <div class="col-md-9">
    <div class="card mb-3">
      <% foundCampground.image.forEach(function(image) { %> 
        <img class="card-img-top" src="<%= image %>" alt="image of a campground">
      <% }); %>
      <div class="card-body">
        <p class="float-right">$<%= foundCampground.price %> / night</p>
        <h5 class="card-title"><%= foundCampground.name %></h5>
        <p>
          <em>Submitted by: <a href="/users/<%= foundCampground.author.id %>"><%= foundCampground.author.username %></a>, <%= moment(foundCampground.createdAt).fromNow() %></em>
        </p>
        <hr>
        <p><%= foundCampground.description %></p>
        <% if (currentUser && foundCampground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
          <a class="btn btn-sm btn-warning" href="/campgrounds/<%= foundCampground._id %>/edit">Edit Campground</a>
          <form class="delete-form" action="/campgrounds/<%= foundCampground._id %>?_method=DELETE" method="POST">
            <button class="btn btn-sm btn-danger">Delete Campground</button>
          </form>
        <% } %>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">

        <div class="text-right mb-2">
          <a class="btn btn-success pull-right" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Toggle new comment</a>
        </div>

        <div class="text-right">
          <a class="btn btn-success" href="/campgrounds/<%= foundCampground._id %>/comments/new">Add new comment</a>
        </div>

        <h4 id="comments"><strong>Comments <span class="glyphicon glyphicon glyphicon-comment" aria-hidden="true"></span></strong></h4>

        <!--Collapse Add a comment form START-->
        <div class="collapse" id="collapseComment">
          <div class="well">
              <% if(!currentUser) { %>
            <!--If the user is not logged in, direct him to the login page-->
            <p>Please <a href="/login">login</a> to comment.</p>
              <% } %>
              <% if(currentUser) { %>
            <!--If the user is logged in, show the new comment form-->
            <h5>Write your comment <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span></h5>
            <form id="add-comment-form" action="/campgrounds/<%= foundCampground._id %>/comments" method="POST">
              <div class="form-group">
                <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
              </div>
              <div class="form-group">
                <textarea class="form-control" name="comment[text]" placeholder="Write your comment..." form="add-comment-form" rows="5" cols="70" autofocus></textarea>
              </div>
              <div class="form-group">
                <button class="btn btn-success btn-sm">Comment <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
              </div>
            </form>
              <% } %>
          </div>
        </div>
        <!--Collapse Add a comment form END-->

        <!--Check if there are comments, if there are none say no comments.-->
        <% if (foundCampground.comments.length === 0) { %>
          <em style="color: grey;">No comments yet.</em>
        <% } %>

        <hr>
        <div class="row">
          <% foundCampground.comments.forEach(comment => { %>
            <div class="col-md-12 mb-2">
              <div class="card">
                <div class="card-body">
                  <div class="float-left">
                    <a href="/users/<%= comment.author.id %>">
                      <p class="card-title"><%= comment.author.username %></p>                    
                    </a>
                    <p class="card-text"><%= comment.text %></p>
                  </div>
                  <div class="float-right">
                    <p><%= moment(comment.createdAt).fromNow() %></p>
                    <% if (currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                      <div class="float-right">
                        <a class="btn btn-sm btn-warning" 
                          href="/campgrounds/<%= foundCampground._id %>/comments/<%= comment._id %>/edit">
                          Edit
                        </a>
                        <form class="delete-form" action="/campgrounds/<%= foundCampground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                          <input class="btn btn-sm btn-danger" type="submit" value="Delete">
                        </form>
                      </div>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          <% }); %>
        </div>
      </div>
    </div>

  </div>
</div>

<% include ../partials/footer %>
