<% include ../partials/header %>

<div class="card-group">
  <div class="card mb-4">
    <img class="card-img-top" src="<%= foundUser.avatar %>" alt="user profile image">
    <div class="card-body">
      <h5 class="card-title"><%= foundUser.firstName + " " + foundUser.lastName %></h5>
      <p><a href="mailto:<%= foundUser.email %>"><%= foundUser.email %></a></p>
      <p class="card-text">Lorem ipsum dolor sit amet, nostro recusabo incorrupte an sed. In nam autem incorrupte. Cum ut liber alterum conceptam, ad duo decore epicuri, alia nihil equidem et vis. Solum aeterno insolens vis te, quo oblique prompta oporteat id. Te cum ignota eirmod vivendum. Viderer evertitur eu has, et eam liber scripta, mei ne unum mutat. Ad explicari mnesarchum delicatissimi his. Usu esse quas zril te, posse vocibus gubergren an mel, quod hinc mea ei. Mel nihil prodesset an, ullum ignota debitis duo ex. Maiorum detracto delicatissimi in per, nec vero tritani ex. Doctus abhorreant reformidans sit cu, velit habemus euripidis mei te.</p>
    </div>

    <div class="card-footer">
      <small class="text-muted">Member since <%= moment(foundUser.createdAt).fromNow() %></small>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title"><%= foundUser.username %>'s campgrounds:</h5>
      <ul>
        <% campgrounds.forEach(campground => { %>
          <li><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li>
        <% }); %>
      </ul>
    </div>
  </div>
</div>

<% include ../partials/footer %>
